* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

p {
    font-size: 15px;
}

img {
    width: 100%;
    max-width: 300px;
}

:root {
    --blue-color: #0084fd;
    --light-blue-color: #b5ddff;
    --violet-color: #9792e4;
    --orange-color: #d4ae94;
    --black-color: #333333;
    --sun-color: #fdc15f;
}

.flex {
    display: flex;
    align-items: center;
}

.flex_column {
    flex-direction: column;
}

.f_color_invert {
    filter: invert();
}

a {
    text-decoration: none;
}

.btn {
    background-color: var(--blue-color);
    padding: 0.5rem 4rem;
    border-radius: 20px;
    color: white;
    display: block;
}

.btn_strategic {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--violet-color);
    border-radius: 50%;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

.distance {
    gap: 20px;

}

.space {
    justify-content: space-between;
}

.transparent {
    color: rgba(0, 0, 0, 0.521)
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 1rem;
}

#site_header {
    background-color: var(--blue-color);
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#site_main {
    padding-top: 80px;
}

#section_strategic {
    background-color: var(--violet-color);
}

#section_benefits {
    background-color: var(--violet-color);
}

#section_started {
    background-color: var(--violet-color);
}

#site_footer {
    background-color: var(--black-color);
}

.right_hamburger {
    font-size: 30px;
}

.card {
    background-color: var(--light-blue-color);
    padding: 25px;
    border-radius: 10%;
    height: 100%;
}

.negative_bot {
    margin-bottom: -30px;
    max-width: 2500px;
}

.border {
    border-radius: 50%;
}

.violet {
    background-color: #9792e4;
}

.white {
    background-color: white;
}

.black {
    background-color: var(--black-color);
}

.col-12 {
    width: calc((100% / 12) *12);
}

.size_font {
    font-size: 120px;
    color: var(--blue-color);
}

[class^="col-"] {
    padding: 1rem;

}

.color_white {
    color: white;
}

.color_sun {
    color: var(--sun-color);
}

.color_black {
    color: var(--black-color);
}

.color_violet {
    color: var(--violet-color);
}

.color_blue {
    color: var(--blue-color);
}

.right_list {
    display: none;
}

.text {
    text-align: left;
    align-items: start;
}

/*MEDIA TYPES*/

@media screen and (min-width:768px) {
    .col-tablet-8 {
        width: calc((100% / 12) * 8);
    }

    .col-tablet-4 {
        width: calc((100% / 12) * 4);
    }

    .col-tablet-6 {
        width: calc((100% / 12) * 6);
    }

    .negative_bot {
        margin-left: -20px;
    }

    .text_tab{
        text-align: left;
        align-items: start;
    }

    .direction{
        flex-direction: row;
    }
}

@media screen and (min-width:992px) {
    .col-desktop-6 {
        width: calc((100% / 12) *6);
    }

    .col-desktop-4 {
        width: calc((100% / 12) *4);
    }

    .right_hamburger {
        display: none;
    }

    .right_list {
        display: block;
    }

}

.row.distance {
    list-style: none;
}

.img_square {
    width: 200px;
    aspect-ratio: 1;
    object-fit: cover;
}